nav{
    border: 0px solid;
    display: flex;
    justify-content: space-between;
    background:black;
    color: white;
   
}
li{
    display: inline;
    margin: 0px 10px;
    font-size: large;
    text-decoration: none;
}

/* caption

{
    text-align: center;
    margin:1px auto;
} */
.logo
{
    display: inline;
    font-size: xx-large;
    padding: 1px;
}

div{
    text-align: center;
    display: grid;

} 
       /* DP Starting */
img
{
    size:50%;
    height: 100px;
    width: 100PX;
    border-radius: 50%;
    margin: 10px auto;   
}
      /* DP Ending */
.about 
{
text-align:right;
font-size: x-large;
display: inline;
color: rgb(240, 66, 8);
}
        /* Backgroung */
.res{  
    background-image: url(../images/computer3.jpg);
    color:white;
  }  
       /* End Background */
#name
{
 font-size: xx-large;
}
     /* Intrest */
.intrest
{
    text-align: left;
    margin: 10px;
    font-size: larger;
    padding-left: 5px;
    font-weight:bolder;
    color:red;
}
 /* end Intrest */

 .intrest ol
 {
    font:bold;
    text-decoration: none;
    display:grid;
    color:yellow;
 }
.cv
{
     font-size: x-large;
     font-family: monospace;
}

 